
/* Fondo */
body {
    font-family: 'Inter', sans-serif;
    background-color: #e8f0fe;
    margin: 0;
    padding: 0;
}
  
/* Tarjeta principal */
.login-card {
    width: 100%;
    max-width: 1100px;
    background: #ffffff;
}
  
/* Lado izquierdo - Ilustración */
.left-side {
    flex: 1;
    background-color: #e8f0fe;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
  
.left-side img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
  
/* Lado derecho - Formulario */
.login-form {
    flex: 1;
    background-color: #ffffff;
}
  
/* Logo */
.logo-box {
    background-color: black;
    color: white;
    font-weight: 800;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
    user-select: none;
}
  
/* Formulario */
.form-control:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 0.25rem rgb(59 130 246 / 0.5);
}
  
.input-icon {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: #4b5773;
    cursor: pointer;
}
  
.input-icon.password {
    color: #6c757d;
}
  
.info-text {
    font-size: 0.8rem;
    color: #6c757d;
}
  
.info-text i {
    margin-right: 0.25rem;
}
  
/* Responsive ajustes */
@media (max-width: 767.98px) {
    .left-side {
      display: none; /* Oculta imagen en pantallas pequeñas */
    }
}
